.remodal-closed
	position absolute
	top .55vw
	right .55vw
	width 4vw
	height 4vw
	cursor pointer

	&__top
		position absolute
		top 50%
		width 3.5vw
		height .27vw
		background #8d8684
		border-radius 10px
		transform rotate(135deg)

	&__center
		position absolute
		top 50%
		width 3.5vw
		height .27vw
		background #8d8684
		border-radius 10px
		transform rotate(45deg)
