.game-complite
	display block

	&__p
		margin-top .5vh
		font-family MinionPro-Regular
		font-size 2.291666666666667vw
		word-spacing .4vw
		color #ffffff
	
	&__img
		margin 4vh auto 5vh
		display block
		width 32vw
		border .3125vw solid #ffffff
		border-radius .2604166666666667vw

	&__button
		width 22.95833333333333vw
		height 4.6875vw
		font-family MinionPro-Regular
		font-size 2.291666666666667vw
		line-height 4.375vw
		text-align center
		cursor pointer
		color #ffffff
		background-color rgba(24, 19, 0, .7)
		border .15625vw solid #ffffff
		border-radius 2.34375vw

.after-none::after
	content none