.remodal-about
	display block

	&__p
		font-family MinionPro-Regular
		font-size 1.697916666666667vw
		line-height 1.2
		color #fff

		&_margin-top
			margin-top 2.447916666666667vw

		&_font-size
			font-size 1.25vw

	&__p-span
		color #d1a3a4

	&__logo
		margin 3.385416666666667vw auto 1.822916666666667vw
		padding-bottom 4.635416666666667vw
		display block
		width 20.98958333333333vw
		background-size cover
		retinaBackground(logo, png)

	&__h4
		margin-top 3.90625vh
		font-family MinionPro-Regular
		font-size 1.71875vw
		color #fff

	&__a
		margin .2vw auto 0
		display block
		width 16.5vw
		font-family MinionPro-Regular
		font-size 1.27vw
		text-decoration none
		letter-spacing .06vw
		color #d1a3a4
		border-bottom .01vw solid #d1a3a4

		&:hover
			border-bottom none

.scroll-pane-about
	margin 0 auto
	width 88vw
	height 100%