.remodal-games
	display block
	text-align center

	&__p
		margin-top 2.604166666666667vw
		font-family MinionPro-Regular
		font-size 1.5625vw
		line-height 1.2
		letter-spacing .0520833333333333vw
		color #fff

	&__img-wrapp
		margin 6.25vh auto 0
		display flex
		flex-direction row
		width 39.58333333333333vw
		justify-content space-between

	&__img-box
		display block
		width 14.42708333333333vw
		text-align center
		text-decoration none

		&_music-quest
			position relative
			top .1041666666666667vw
			right .1041666666666667vw
			width 14.21875vw

	&__img

		&_ghost-ride
			padding-bottom 100%
			background-size contain
			retinaBackground(ghost-ride, png)

		&_music-quest
			padding-bottom 99.26739926739927%
			background-size contain
			opacity .5
			retinaBackground(music-quest, png)


	&__h4
		margin-top 1.354166666666667vw
		font-family MinionPro-Regular
		font-size 2.395833333333333vw
		text-decoration none
		color #fff

		&_music-quest
			margin-top 1.458333333333333vw
			color rgba(255, 255, 255, .5)

	&__h4-span
		font-size 1.6vw

.scroll-pane-games
	margin 0 auto
	width 88vw
	height 100%