.remodal-exit
	display block

.exit-wrapp
	margin 31vh auto 0
	display flex
	width 49.666666667vw
	text-align left
	justify-content space-between

	&__button
		width 22.95833333333333vw
		height 4.6875vw
		font-family MinionPro-Regular
		font-size 2.291666666666667vw
		line-height 4.375vw
		text-align center
		cursor pointer
		color #d1a3a4
		border .15625vw solid #d1a3a4
		border-radius 2.34375vw