.remodal
	padding 1.822916666666667vw
	overflow hidden
	max-width 91.14583333333333vw
	height 85vh
	background rgba(0, 0, 0, .85)
	border .15625vw solid #ab8e84
	border-radius 3vh

	&__load-game
		background transparent
		border none

	&__exit-game
		padding 3.82vw
		max-width 67vw
		height 64vh

	&__game-complite
		padding 0
		max-width 100%
		height 100vh
		background none
		background-repeat no-repeat
		background-size 100% 100%
		border none
		border-radius 0
		retinaBackground(win, png)

.remodal-wrapper
	padding 0

.remodal-bg.remodal-is-opened
	filter blur(6px)

.remodal-overlay
	background rgba(90, 55, 36, .4)
