.remodal

	&-content
		margin 0 auto
		overflow-y scroll
		width 87vw
		// height 37.5vh

.remodal-content
	&__img
		margin 1.5625vw
		width 21.302vw
		cursor pointer
		border .342857142857vw solid #fefefe
		border-radius 8px

.scroll-pane
	width 87vw
	height 100%

.jsp-drag
	background rgba(0, 0, 0, .0)
	background-repeat no-repeat
	background-position 0 0
	background-size contain
	retinaBackground(scroll, png)

.jsp-drag_select
	background-size 100% 100%